<h1>Posts</h1>

<% posts.forEach(function(post) { %>
  <h2><%= post.title %></h2>
  <div>Price: <%= post.price %></div>
  <div><%= post.description %></div>
  <div><%= post.location %></div>
  <div><a href="/posts/<%= post.id %>/edit">View more</a></div>
<% }); %>